<div class="group">
	<a
		class="relative inline-flex items-center justify-center h-14 w-14 p-4 lg:w-full lg:h-full lg:px-5 lg:py-4 rounded-lg  transition-colors duration-150 group-hover:text-coop-400 hover:bg-coop-50"
		[routerLinkActiveOptions]="linkOptions ?? {}"
		[routerLink]="link"
		[routerLinkActive]="link ? 'active' : ''"
	>
		<div class="flex w-6 h-6 lg:w-7 lg:h-7">
			<mat-icon [svgIcon]="icon" class="rubber"></mat-icon>
		</div>

		<span class="ml-4 text-black hidden lg:flex items-center justify-between w-full">
			<ng-content></ng-content>
			<span class="rounded-full text-white bg-red-400 h-7 px-2 flex items-center justify-center" *ngIf="counter" [class.w-7]="counter < 9">
				{{counter}}
			</span>
		</span>
		<span
			class="rounded-full bg-red-400 h-3 w-3 lg:hidden absolute bottom-0 right-0 border border-2 border-white"
			*ngIf="counter"
		></span>
	</a>
</div>
