<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
	<div class="w-full mb-4">
		<div class="flex flex-row justify-start items-center mb-2">
			<label for="value" class="block text-gray-700">{{data.content}}</label>
		</div>
		<div class="h-9 w-full inline-flex">
			<input type="text" maxlength="250" id="value" #v [(ngModel)]="valueField" (keyup)="handleKeyUp($event)">
		</div>
		<div class="text-right text-gray-500 text-xs mt-1" *ngIf="v.value.length > 200">{{v.value.length}} / 250</div>
	</div>
</div>
<div mat-dialog-actions align="end">
	<div class="flex ml-auto">
		<button mat-button [mat-dialog-close]="false">Отмена</button>
		<button mat-raised-button color="primary" [disabled]="!valueField" [mat-dialog-close]="valueField">{{data.confirmButtonText || 'Далее'}}</button>
	</div>
</div>
