<button mat-icon-button [matMenuTriggerFor]="menu" class="group">
	<mat-icon svgIcon="more-vertical" class="text-sm text-gray-500 transition group-hover:text-gray-800"></mat-icon>
</button>

<mat-menu #menu="matMenu">
	<ng-container *ngFor="let actionDefinition of actions">
		<button
			mat-menu-item
			*ngIf="!actionDefinition.isHidden(actor)"
			(click)="actionDefinition.action(actor)"
		>
			<mat-icon *ngIf="actionDefinition.icon" [svgIcon]="actionDefinition.icon" class="text-sm"></mat-icon>
			<span>{{actionDefinition.name}}</span>
		</button>
	</ng-container>

</mat-menu>
