<div class="px-12 pb-10 pt-8 w-full h-full">
	<h3 class="mb-6 text-2xl font-medium">Создайте ваш аккаунт</h3>
	<form [formGroup]="form" novalidate (ngSubmit)="next()">

		<div class="mb-6">
			<label for="name" class="block text-sm font-medium text-gray-700 mb-2">Ваше имя</label>
			<div class="h-10 w-full inline-flex relative">
				<input type="text" formControlName="name" id="name">
			</div>
			<div class="text-red-600 text-sm font-medium" *ngIf="form.get('name')?.hasError('incorrect')">
				{{form.get('name')?.errors?.message}}
			</div>
		</div>

		<div class="mb-6">
			<label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
			<div class="h-10 w-full inline-flex relative">
				<input type="text" formControlName="email" id="email">
			</div>
			<div class="text-red-600 text-sm font-medium" *ngIf="form.get('email')?.hasError('incorrect')">
				{{form.get('email')?.errors?.message}}
			</div>
		</div>

		<div class="mb-6">
			<label for="password" class="block font-medium text-sm text-gray-700 mb-2">Пароль</label>
			<div class="h-10 w-full inline-flex relative">
				<input formControlName="password" #password id="password" [type]="hide ? 'password' : 'text'">
				<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="password.value">
					<button
						class="text-gray-400"
						type="button"
						mat-icon-button
						(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
					>
						<mat-icon [svgIcon]="hide ? 'eye-off' : 'eye'"></mat-icon>
					</button>
				</div>
			</div>
			<div class="text-red-600 text-sm font-medium" *ngIf="form.get('password')?.hasError('incorrect')">
				{{form.get('password')?.errors?.message}}
			</div>
		</div>

		<div class="flex items-start mb-6">
			<div class="flex items-center h-5">
				<mat-checkbox color="primary" id="comments"></mat-checkbox>
			</div>
			<div class="ml-3 text-sm">
				<label for="comments" class="text-gray-800">Не пишите мне об обновлениях продукта.</label>
				<p class="text-gray-500">
					Если этот флажок не установлен, мы будем время от времени отправлять полезные и актуальные электронные письма. Вы можете отписаться в любое время.
					<a href="/page/policy/privacy" class="link">Политика конфиденциальности</a>
				</p>
			</div>
		</div>

		<div class="h-10 w-full inline-flex relative">
			<button mat-raised-button color="primary" type="submit" class="w-full"
					[disabled]="!form.valid || loading"
					[loading]="loading"
			>
				Далее
			</button>
		</div>

		<div class="w-full sm:max-w-md text-center text-gray-600 text-sm mt-6">
			Уже есть аккаунт? <a routerLink="/auth" class="link">Войдите</a>
		</div>
	</form>

</div>
