<div class="flex flex-col min-h-screen bg-coop-50 ">
	<div class="flex-1 mx-auto w-full">
		<div class="flex h-full pb-12 sm:pb-0">
			<aside
				class=" top-0 flex-shrink-0 aside-gradient leading-tight w-auto lg:w-96 flex flex-col z-30
				 h-screen bg-white shadow-lg sm:shadow-none transform absolute sm:fixed sm:left-0 -left-20"
				[class.left-0]="sidebarIsOpened"
			>
				<div class="flex-grow-0 flex-shrink-0 inline-flex items-center w-full py-2 lg:py-6 px-2 lg:px-6">
					<a
						(click)="toggleSidebar()"
						*ngIf="user$ | async as user; else loadingTpl"
						routerLink="/account/profile"
						class="flex items-center justify-center w-full p-2 lg:px-5 lg:py-4 font-medium rounded-lg transition-colors duration-150 group-hover:text-coop-400 hover:bg-coop-50"
					>
						<div class="relative w-10 h-10 lg:w-12 lg:h-12">
							<app-avatar
								[text]="user.name"
								[avatarUrl]="user.avatar"
							></app-avatar>
							<div class="w-4 h-4 absolute bottom-0 right-0 text-green-500">
								<mat-icon svgIcon="success-circle" class="rubber"></mat-icon>
							</div>
						</div>
						<div class="ml-4 w-full overflow-hidden hidden lg:block">
							<div class="text-black text-xl truncate box-border">
								<span class="whitespace-inherit">{{user.name}}</span>
							</div>
							<div>ID {{user.id}}</div>
						</div>
					</a>
				</div>
				<div class="flex flex-grow overflow-y-auto h-full items-center justify-center">
					Sidebar
				</div>
			</aside>
			<div class="w-full lg:ml-96 overflow-x-hidden">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

<ng-template #loadingTpl>
	<nz-skeleton
		[nzActive]="true"
		[nzAvatar]="true"
		[nzParagraph]="{ rows: 1 }"
	></nz-skeleton>
</ng-template>
