aside {
	transition-property: width, left;
	transition-duration: .2s, .2s;

	&.sidebar-opened {
		@apply transform translate-x-20;
	}
}
.scrollbar {
	--scrollbar-hover-size: 8px;
	--scrollbar-thumb-color: theme('colors.gray.200');
	--scrollbar-thumb-hover-color: theme('colors.gray.300');
}
