@import "../../../../node_modules/filepond/dist/filepond.min.css";
@import "../../../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

.filepond--root {
	margin-bottom: 0;
	@apply text-xs;
}
.filepond--credits, .filepond--image-preview-overlay {
	display: none;
}
