:host {
	--text-security-type: disc;
	--item-spacing: 4px;
	--item-height: 4.375em;
	--item-border: 1px solid #dddddd;
	--item-border-bottom: 1px solid #dddddd;
	--item-border-has-value: 1px solid #dddddd;
	--item-border-bottom-has-value: 1px solid #dddddd;
	--item-border-focused: 1px solid #dddddd;
	--item-border-bottom-focused: 1px solid #dddddd;
	--item-shadow-focused: 0px 1px 5px rgba(221, 221, 221, 1);
	--item-border-radius: 6px;
	--item-background: transparent;
	--color: #171516;

	display: flex;
	transform: translate3d(0, 0, 0);
	font-size: inherit;
	color: var(--color);

	span {
		display: block;
		flex: 1;
		margin-right: 1px;

		&:first-child {
			padding-left: var(--item-spacing);
		}

		&.code-hidden input {
			text-security: var(--text-security-type);
			-webkit-text-security: var(--text-security-type);
			-moz-text-security: var(--text-security-type);
		}

		input {
			width: 100%;
			// height: var(--item-height);
			color: inherit;
			background: var(--item-background);
			text-align: center;
			font-size: inherit;
			border-radius: 0;
			-webkit-appearance: none;
			transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			outline: none;

			/*&.has-value {
				border: var(--item-border-has-value);
				border-bottom: var(--item-border-bottom-has-value);
			}*/

			/*&:focus {
				border: var(--item-border-focused);
				border-bottom: var(--item-border-bottom-focused);
				box-shadow: var(--item-shadow-focused);
			}*/
		}

		&:first-child input {
			border-top-left-radius: var(--item-border-radius);
			border-bottom-left-radius: var(--item-border-radius);
		}
		&:last-child input {
			border-top-right-radius: var(--item-border-radius);
			border-bottom-right-radius: var(--item-border-radius);
		}
	}
}

.dvr {
	@apply relative;

	&:before {
		content: "\2012";
		@apply absolute w-5 right-11 hidden leading-10 text-gray-300;
	}
}
@screen sm {
	.dvr {
		@apply ml-6;

		&:before {
			@apply block;
		}
	}
}
