<div class="divider flex pb-4 justify-between sm:items-center">
	<div>
		<div class="text-lg sm:text-2xl font-bold leading-5 mb-1">Двухэтапная аутентификация</div>
		<p class="text-sm">Обеспечьте дополнительную безопасность своей учетной записи с помощью второго шага аутентификации</p>
	</div>
	<div class="inline">
		<button
			class="btn-sm flex items-center justify-center"
			mat-stroked-button
			[matMenuTriggerFor]="authStepTpl"
			[loading]="!(status$ | async) || (enableTwoFaAuthenticatorAction.loading$ | async)"
		>
			<span class="hidden sm:inline">Добавить шаг аутентификации</span>
			<span class="sm:hidden inline text-xs">
				<mat-icon svgIcon="plus" class="ml-1"></mat-icon>
			</span>
		</button>
	</div>
</div>

<ng-container *ngIf="status$ | async as status; else loadingTpl">
	<p class="my-3 text-sm" *ngIf="!status.twa_enabled && !status.sms_enabled;">
		После того, как вы включите SMS или приложение для аутентификации, вы сможете добавлять ключи безопасности.
	</p>

	<div class="flex justify-between items-center py-2 divider" *ngIf="status.twa_enabled">
		<span>Приложение Authenticator</span>
		<div class="group-btn flex">
			<button
				mat-stroked-button class="btn-sm"
				(click)="enableTwoFaAuthenticatorAction.action({})"
				[loading]="enableTwoFaAuthenticatorAction.loading$ | async"
			>
				Обновить...
			</button>
			<button
				mat-stroked-button class="btn-sm"
				(click)="disableTwoFaAuthenticatorAction.action({})"
				[loading]="disableTwoFaAuthenticatorAction.loading$ | async"
			>
				<mat-icon svgIcon="x"></mat-icon>
			</button>
		</div>
	</div>

	<p class="my-3 text-sm" *ngIf="status.twa_enabled || status.sms_enabled">Если вы потеряете мобильное устройство или ключ безопасности, вы можете
		<a href="javascript:void(0)" (click)="generationAuthBackupCodeAction.action({})" class="link">сгенерировать резервный код</a> для входа в свою учетную запись.
	</p>
</ng-container>

<mat-menu #authStepTpl>
	<ng-container *ngIf="status$ | async as status">
		<button mat-menu-item (click)="enableTwoFaAuthenticatorAction.action({})" *ngIf="!status.twa_enabled">Добавить приложение Authenticator...</button>
		<button mat-menu-item (click)="soon()" *ngIf="!status.sms_enabled">Добавить SMS...</button>
		<button mat-menu-item (click)="soon()" *ngIf="status.twa_enabled || status.sms_enabled">Добавить электронный ключ...</button>
	</ng-container>
</mat-menu>

<ng-template #loadingTpl>
	<div class="w-full flex items-center justify-center py-12">
		<app-spinner></app-spinner>
	</div>
</ng-template>

