<div class="max-w-screen-xl p-4 sm:p-6">
	<div class="bg-white p-4 sm:p-6 w-full rounded-lg mb-4 sm:mb-6">
		<div class="mb-4 sm:mb-0">
			<div class="text-black text-2xl sm:text-3xl font-bold mb-1">Профиль</div>
			<div class="text-sm sm:text-base">В этом разделе вы можете загрузить свою фотографию, настроить параметры доступа, а также верифицировать свой аккаунт</div>
		</div>
	</div>

	<div class="bg-white p-4 sm:p-6 w-full rounded-lg" *ngFor="let c of components; let last = last" [ngClass]="{'mb-4 sm:mb-6': !last}">
		<div class="w-full flex items-center justify-center" *ngIf="!c.finally">
			<app-spinner></app-spinner>
		</div>
		<app-lazy-component-resolver [component]="c"></app-lazy-component-resolver>
	</div>
</div>
