<div class="px-12 pb-4 pt-10 w-full h-full">
	<h3 class="mb-6 text-2xl font-medium text-center sm:text-left">Сбросить пароль</h3>

	<ng-container [ngSwitch]="currentStep">

		<!-- STEP 1 -->
		<ng-container *ngSwitchCase="1">
			<p class="text-sm text-gray-500">Введите адрес электронной почты, связанный с вашей учетной записью, и мы отправим вам ссылку для сброса пароля.</p>
			<form class="w-full" [formGroup]="contactForm" novalidate (ngSubmit)="rememberRequest()">
				<div class="my-6">
					<label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
					<div class="h-10 w-full inline-flex relative">
						<input type="text" formControlName="contact" id="email" inputmode="email">
					</div>
					<app-hint-error-message [field]="contactForm.get('contact')"></app-hint-error-message>
				</div>

				<div class="h-10 w-full inline-flex relative">
					<button mat-raised-button color="primary" type="submit" class="w-full"
							[disabled]="!contactForm.valid || (loading$ | async)"
							[loading]="loading$ | async"
					>
						Далее
					</button>
				</div>
			</form>
		</ng-container>

		<!-- STEP 2 -->
		<ng-container *ngSwitchCase="2">
			<form class="w-full" [formGroup]="codeForm" novalidate (ngSubmit)="rememberConfirm()">
				<p class="text-sm text-gray-500">Мы отправили код подтверждения на {{contactForm.get('contact')?.value}}. Введите его в это поле</p>
				<div class="my-6">
					<label for="code" class="block text-sm font-medium text-gray-700 mb-2">Код подтверждения</label>
					<div class="h-10 w-full inline-flex relative">
						<input type="text" inputmode="numeric" formControlName="code" id="code">
					</div>
					<app-hint-error-message [field]="codeForm.get('code')"></app-hint-error-message>

					<div *ngIf="codeHasBeenSend$ | async" class="my-3">
						<div class="text-gray-500 text-sm" *ngIf="(timer$ | async) as timer; else resendLinkTpl">
							Отправить код повторно можно через {{timer}} cек.
						</div>
						<ng-template #resendLinkTpl>
							<a href="javascript:void(0)" (click)="resendCode()" class="text-indigo-500 hover:text-indigo-900">Отправить код повторно</a>
						</ng-template>
					</div>
				</div>

				<div class="h-10 w-full inline-flex relative">
					<button mat-raised-button color="primary" type="submit" class="w-full"
							[disabled]="!codeForm.valid || (loading$ | async)"
							[loading]="loading$ | async"
					>
						Далее
					</button>
				</div>
			</form>
		</ng-container>

		<!-- STEP 3-->
		<ng-container *ngSwitchCase="3">
			<form class="w-full"  [formGroup]="passwordForm" novalidate (ngSubmit)="rememberSetPassword()">
				<div>
					<label for="new_password" class="block text-sm font-medium text-gray-700 mb-2">Придумайте новый пароль</label>
					<div class="h-10 w-full inline-flex relative">
						<input type="password" formControlName="new_password" #new_password id="new_password" [type]="hide ? 'password' : 'text'">
						<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="new_password.value">
							<button
								class="text-gray-400"
								type="button"
								mat-icon-button
								(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
							>
								<mat-icon [svgIcon]="hide ? 'eye-off' : 'eye'"></mat-icon>
							</button>
						</div>
					</div>
					<app-hint-error-message [field]="passwordForm.get('new_password')"></app-hint-error-message>
				</div>

				<div class="my-6">
					<label for="new_password_confirmation" class="block text-sm font-medium text-gray-700 mb-2">Новый пароль еще раз</label>
					<div class="h-10 w-full inline-flex relative">
						<input type="password" formControlName="new_password_confirmation" id="new_password_confirmation">
					</div>
					<app-hint-error-message [field]="passwordForm.get('new_password_confirmation')"></app-hint-error-message>
				</div>

				<div class="h-10 w-full inline-flex relative">
					<button mat-raised-button color="primary" type="submit" class="w-full"
							[disabled]="!passwordForm.valid || (loading$ | async)"
							[loading]="loading$ | async"
					>
						Далее
					</button>
				</div>
			</form>
		</ng-container>

		<!-- STEP 4 -->
		<ng-container *ngSwitchCase="4">
			<div class="sm:flex sm:items-start pb-8">
				<div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
				</div>
				<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
					<h3 class="text-lg leading-6 font-medium text-gray-900">Успешно!</h3>
					<p class="text-sm text-gray-500">Новый пароль создан успешно. Может войти</p>
				</div>
			</div>
			<div class="h-10 w-full inline-flex relative">
				<button mat-raised-button color="primary" type="button" routerLink="/ac" class="w-full">Войти</button>
			</div>
		</ng-container>

	</ng-container>

	<div class="w-full sm:max-w-md text-gray-600 text-sm transform sm:-translate-x-5 translate-y-24 pb-6">
		Еще нет аккаунта? <a routerLink="/auth/register" class="text-indigo-500 hover:text-indigo-900">Создайте</a>
	</div>
</div>
