$size-xs: 24px;
$size-s: 32px;
$size-m: 48px;
$size-l: 64px;
$size-xl: 96px;
$size-xxl: 144px;

:host {
	position: relative;
	display: flex;
	flex-shrink: 0;
	border-radius: 50%;
	text-align: center;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	background-color: currentColor;
	user-select: none;
	overflow: hidden;

	&[data-host-size='inherit'] {
		width: inherit;
		height: inherit;
	}

	&[data-host-size='xs'] {
		width: $size-xs;
		height: $size-xs;
	}

	&[data-host-size='s'] {
		width: $size-s;
		height: $size-s;
	}

	&[data-host-size='m'] {
		width: $size-m;
		height: $size-m;
	}

	&[data-host-size='l'] {
		width: $size-l;
		height: $size-l;
	}

	&[data-host-size='xl'] {
		width: $size-xl;
		height: $size-xl;
	}

	&[data-host-size='xxl'] {
		width: $size-xxl;
		height: $size-xxl;
	}

	&.has-avatar {
		@apply bg-transparent
	}

	&.rounded {
		@apply rounded-full
	}
}
