<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [innerHTML]="data.content"></div>
<div mat-dialog-actions align="end">
	<button mat-button color="primary"
			[mat-dialog-close]="true">{{data.confirmButtonText || 'Done'}}</button>
</div>
