<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>{{data.content}}</div>
<div mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="false">{{data.cancelButtonText || 'Hell no!'}}</button>
	<button mat-raised-button color="primary"
			[mat-dialog-close]="true">{{data.confirmButtonText || 'Yes, please!'}}</button>
</div>
