<div class="max-w-screen-xl p-4 sm:p-6">
	<div class="bg-white p-4 sm:p-6 w-full sm:flex sm:items-center justify-between rounded-lg">
		<div class="mb-4 sm:mb-0">
			<div class="text-black text-3xl font-bold mb-1">Dashboard</div>
			<div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at debitis dolorum eius error esse, explicabo fuga fugiat harum ipsam iusto libero molestiae necessitatibus possimus rerum saepe sit soluta veniam!</div>
		</div>
	</div>

	<div class="sm:grid sm:grid-cols-2 sm:gap-6 space-y-6 sm:space-y-0">
		<div class="rounded-lg bg-gray-50 p-6 text-gray-500">
			<div class="pb-6 border-b border-gray-200 mb-6">
				<div>
					<h1 class="inline-block text-xl font-bold text-gray-900 tracking-tight">Get user profile</h1>
				</div>
				<p class="mt-1 leading-6">
					Is a minimal, simple implementation of all of authentication features, including login, registration, password reset, email verification, and password confirmation
				</p>
			</div>

			<button mat-raised-button color="primary" routerLink="/account/profile">User Profile</button>
		</div>
	</div>

</div>
