<div class="divider flex pb-4 justify-between items-center">
	<div class="text-lg sm:text-2xl font-bold leading-5 truncate box-border">
		<span class="whitespace-inherit">Персональные данные</span>
	</div>

	<button mat-stroked-button class="btn-sm flex items-center justify-center" *ngIf="!(editMode$ | async)" (click)="setEditMode(true)" [loading]="!(user$ | async)">
		<span class="hidden sm:inline">Изменить</span>
		<span class="sm:hidden inline text-xs">
			<mat-icon class="ml-1" svgIcon="edit"></mat-icon>
		</span>
	</button>

	<div class="flex" *ngIf="editMode$ | async">
		<button mat-stroked-button class="btn-sm mr-2" (click)="setEditMode(false)">
			Отмена
		</button>
		&nbsp;
		<button mat-raised-button class="btn-sm" color="primary" (click)="save()" [loading]="(loading$ | async) || false" [disabled]="!(isDataChanged$ | async) || !form.valid">
			Сохранить
		</button>
	</div>
</div>

<form [formGroup]="form" novalidate *ngIf="user$ | async as user; else loadingTpl">

	<app-confirmation-email-notification></app-confirmation-email-notification>

	<div class="py-2">
		<div class="flex items-center py-1 sm:py-2">
			<label class="text-sm font-medium text-black py-2 w-24 sm:w-72">
				Фото
			</label>
			<dd class="text-sm flex-1 w-1">
				<div class="h-24 w-24">
					<file-pond
						*ngIf="(pondFiles$ | async) as pondFiles; else loadingTpl"
						[options]="pondOptions"
						[additionalData]="pondAdditionalData"
						[files]="pondFiles"
						(onremovefile)="pondHandleRemoveFile()"
						(onserverresponsefile)="pondHandleServerResponse($event)"
					></file-pond>
				</div>
			</dd>
		</div>
		<div class="flex items-center py-1 sm:py-2">
			<label class="text-sm font-medium text-black py-2 w-24 sm:w-72" for="name">
				Имя
			</label>
			<dd class="text-sm flex-1 w-1">
				<div class="pl-2 truncate box-border" *ngIf="!(editMode$ | async)">
					<span class="whitespace-inherit">{{user.name}}</span>
				</div>
				<div class="w-full sm:w-80" *ngIf="editMode$ | async">
					<input type="text" formControlName="name" id="name" class="h-9">
					<app-hint-error-message [field]="form.get('name')" class="w-full text-left"></app-hint-error-message>
				</div>
			</dd>
		</div>
		<div class="flex items-center py-1 sm:py-2">
			<label class="text-sm font-medium text-black py-2 w-24 sm:w-72" for="email">
				Email
			</label>
			<dd class="text-sm flex-1 w-1">
				<div class="pl-2 truncate box-border" *ngIf="!(editMode$ | async)">
					<span class="whitespace-inherit">{{user.email}}</span>
				</div>
				<div class="w-full sm:w-80" *ngIf="editMode$ | async">
					<input type="text" formControlName="email" id="email" class="h-9">
					<app-hint-error-message [field]="form.get('email')" class="w-full text-left"></app-hint-error-message>
				</div>
			</dd>
		</div>

		<div class="flex items-center py-1 sm:py-2">
			<dt class="text-sm font-medium text-black py-2 w-24 sm:w-72">
				Пароль
			</dt>
			<dd class="text-sm flex-1">
				<div class="pl-2" *ngIf="!(editMode$ | async)">••••••••</div>
				<div *ngIf="editMode$ | async" class="w-1">
					<button type="button" mat-stroked-button class="btn-sm" (click)="changePasswordAction()">
						<span class="truncate box-border">
							<span class="whitespace-inherit">Изменить пароль...</span>
						</span>
					</button>
				</div>
			</dd>
		</div>
	</div>
</form>

<ng-template #loadingTpl>
	<div class="w-full flex items-center justify-center py-12">
		<app-spinner></app-spinner>
	</div>
</ng-template>

