.box {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.animate-shake {
	animation-name: shake;
}
.animate-animated {
	animation-duration: 0.6s;
	animation-fill-mode: both;
}

@keyframes shake {
	0%, 100% {
		transform: translateZ(0);
	}
	25%, 75% {
		transform: translate3d(-10px,0,0);
	}
	50% {
		transform: translate3d(10px,0,0);
	}
}
