<div class="box w-full h-full flex justify-center items-center flex-col">
	<a class="text-2xl font-medium pb-6 w-full sm:max-w-md pl-8 sm:pl-6 text-gray-900" routerLink="/">logo</a>
	<div class="rounded shadow-none sm:shadow-2xl bg-white w-full sm:max-w-md animate-animated">
		<router-outlet></router-outlet>
	</div>
</div>
