<svg
	aria-hidden="true"
	class="text-xs text-gray-400 hover:text-gray-700 cursor-pointer"
	fill="currentColor"
	height="12" width="12"
	viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
	nz-popover
	[nzPopoverContent]="tpl"
>
	<path d="M9 8a1 1 0 0 0-1-1H5.5a1 1 0 1 0 0 2H7v4a1 1 0 0 0 2 0zM4 0h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4zm4 5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" fill-rule="evenodd"></path>
</svg>
<ng-template #tpl>
	<ng-content></ng-content>
</ng-template>
