<div mat-dialog-title>Изменение пароля</div>
<div mat-dialog-content class="bg-box">
	<form [formGroup]="form" novalidate (ngSubmit)="save()" class="pt-8 pb-1">
		<div class="sm:grid sm:grid-cols-3 sm:gap-4 items-center">
			<label class="text-sm font-medium text-black" for="old_password">Старый пароль</label>
			<div class="relative sm:col-span-2">
				<div class="h-10 inline-flex w-full">
					<input formControlName="old_password" #old_password id="old_password" [type]="hide_old ? 'password' : 'text'">
					<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="old_password.value">
						<button
							class="text-gray-400"
							type="button"
							mat-icon-button
							(click)="hide_old = !hide_old" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_old"
						>
							<mat-icon [svgIcon]="hide_old ? 'eye-off' : 'eye'"></mat-icon>
						</button>
					</div>
				</div>
				<app-hint-error-message [field]="form.get('old_password')" class="w-full text-left"></app-hint-error-message>
			</div>
		</div>
		<div class="sm:grid sm:grid-cols-3 sm:gap-4 mt-8 items-center">
			<label class="text-sm font-medium text-black" for="new_password">Новый пароль</label>
			<div class="relative sm:col-span-2">
				<div class="sm:col-span-2 h-10 w-full inline-flex">
					<input type="password" formControlName="new_password" #new_password id="new_password"
						   [type]="hide ? 'password' : 'text'">
					<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="new_password.value">
						<button
							class="text-gray-400"
							type="button"
							mat-icon-button
							(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
						>
							<mat-icon [svgIcon]="hide ? 'eye-off' : 'eye'"></mat-icon>
						</button>
					</div>
				</div>
				<app-hint-error-message [field]="form.get('new_password')" class="w-full text-left"></app-hint-error-message>
			</div>
		</div>
		<div class="sm:grid sm:grid-cols-3 sm:gap-4">
			<div></div>
			<div class="sm:col-span-2">
				<password-strength-meter
					[password]="new_password.value"
					[enableFeedback]="true"
					(strengthChange)="onPasswordStrengthChanged($event)"
				></password-strength-meter>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
	<div class="flex ml-auto">
		<button mat-button (click)="dialogRef.close(false)">Отмена</button>
		<button
			mat-raised-button
			class="mat-primary"
			color="primary"
			(click)="save()"
			[disabled]="!form.valid"
			[loading]="loading"
		>
			Сохранить
		</button>
	</div>
</div>



