@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--icon-size: 20px;
}

html, body {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
	margin: 0;
	@apply text-default text-base;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(60 66 87 / 16%) 0 0 0 1px, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0;
	max-width: 100%;
	border-radius: 4px;
	white-space: nowrap;
	font-weight: 400;
	line-height: 20px;
	position: relative;
	z-index: 1;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin: 0;
	text-decoration: none;
	vertical-align: middle;
	word-break: normal;
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	-webkit-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	min-height: 28px;
	padding: 4px 8px;
	width: 100%;
	transition: background-color .24s,box-shadow .24s;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	box-shadow: rgb(0 0 0 / 0%) 0 0 0 0, rgb(97 94 155 / 36%) 0 0 0 4px, rgb(0 0 0 / 0%) 0 0 0 0, rgb(60 66 87 / 16%) 0 0 0 1px, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0;
	border-color: transparent;
}

[type='checkbox'] {
	border-radius: 0.3rem !important;
}

[type='checkbox'], [type='radio'] {
	border: 0;
	-ms-user-select: auto;
	user-select: auto;
	box-shadow: rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 12%) 0 1px 1px 0, rgb(60 66 87 / 16%) 0 0 0 1px, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(60 66 87 / 8%) 0 2px 5px 0;
	@apply text-coop-500;
}

[type='checkbox']:focus, [type='radio']:focus {
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
	border-color: transparent;
}

a {
	text-decoration: inherit;
	@apply font-medium text-indigo-500 hover:text-indigo-900;

	&:hover {
		color: currentColor;
	}
}

select {
	@apply whitespace-nowrap select-auto outline-none border-none z-10 cursor-pointer inline-block rounded leading-5 py-2 pl-3 pr-8 bg-no-repeat bg-white m-0 box-border appearance-none static font-medium flex-initial no-underline align-middle break-normal;

	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.891 9.992a1 1 0 1 1 1.416 1.415l-4.3 4.3a1 1 0 0 1-1.414 0l-4.3-4.3A1 1 0 0 1 4.71 9.992l3.59 3.591 3.591-3.591zm0-3.984L8.3 2.417 4.709 6.008a1 1 0 0 1-1.416-1.415l4.3-4.3a1 1 0 0 1 1.414 0l4.3 4.3a1 1 0 1 1-1.416 1.415z"></path></svg> ');
	background-position: calc(100% - 0.8em) 0.7em;
	background-size: 1em 1.2em;
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
	transition: background-color .24s,box-shadow .24s;
	min-height: 28px;

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

.badge {
	@apply inline-flex items-center box-border rounded whitespace-nowrap px-2 py-0.5 text-xs;
}

.table {
	width: 100%;

	tr.mat-row,
	tr.mat-footer-row,
	tr.mat-header-row {
		height: 1px;
	}

	tr:last-child {
		td.mat-cell, td.mat-footer-cell {
			border-bottom-width: 0;
		}
	}

	.mat-header-cell {
		@apply text-black !important;
		@apply uppercase;
		font-size: 11px;
	}

	.mat-cell, .mat-footer-cell {
		@apply text-default !important;

		font-size: 13px;
		height: 1px;
		white-space: nowrap;
		text-align: left;
		padding: 0;
		position: relative;

		&:not(.align-middle),
		&:not(.align-middle) {
			vertical-align: top;
		}
	}

	.mat-cell:not(.w-auto), .mat-footer-cell:not(.w-auto), .mat-header-cell:not(.w-auto) {
		width: 1px;
	}

	th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
		padding-left: 20px;
	}
	th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
		padding-right: 20px;

		div {
			padding-right: 0;
		}
	}
}

.group-btn {
	button, div {
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}
}

.spinner-loading {
	@apply flex flex-row-reverse items-center justify-center !important;
}

.cdk-overlay-dark-backdrop {
	background: rgba(82,95,127,.25) !important;
}

.mat-menu-item {
	line-height: 32px !important;
	height: 32px !important;
	@apply text-indigo-500 font-medium;

	&:hover {
		@apply text-indigo-900;
	}
}

.mat-radio-button ~ .mat-radio-button {
	@apply ml-4;
}

.mat-checkbox-background, .mat-checkbox-frame {
	border-radius: 4px !important;
}

.mat-checkbox-frame {
	background-color: transparent !important;
	transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
	border-width: 0 !important;
	height: 14px;
	box-shadow: rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 12%) 0 1px 1px 0, rgb(60 66 87 / 16%) 0 0 0 1px, rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0, rgb(60 66 87 / 8%) 0 2px 5px 0;
	min-width: 14px;
	width: 14px;
	margin-top: -1.38px;
	transform: translateY(2.1px);
}

.mat-icon {
	&:not(.rubber) {
		height: var(--icon-size) !important;
		width: var(--icon-size) !important;
		font-size: var(--icon-size);
		line-height: var(--icon-size);
		text-align: center;

		&.text-sm {
			--icon-size: 18px;
		}
		&.text-xs {
			--icon-size: 14px;
		}
	}

	&.rubber {
		height: inherit !important;
		width: inherit !important;
	}
}

.mat-dialog-title {
	@apply text-base;
}

.mat-loading .mat-button-wrapper {
	visibility: hidden;
}

.mat-loading .mat-progress-spinner {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar, .mat-primary .mat-slider-track-fill,
.mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label, .mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple, .mat-calendar-body-selected {
	@apply bg-coop-500;
}

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
	@apply bg-coop-500 text-white opacity-50;

	.app-progress-spinner {
		svg	{
			@apply text-white;
		}
	}
}
