<div class="px-12 pb-4 pt-10 w-full h-full">
	<h3 class="mb-6 text-2xl font-medium">Вход в ваш аккаунт</h3>
	<form [formGroup]="form" novalidate (ngSubmit)="next()" [ngSwitch]="step$ | async">

		<ng-container *ngSwitchCase="STEPS.email">
			<div class="mb-6">
				<label for="email" class="block font-medium text-gray-700 mb-2">Логин</label>
				<div class="h-10 w-full inline-flex relative">
					<input type="email" formControlName="email" id="email">
				</div>
				<app-hint-error-message [field]="form.get('email')"></app-hint-error-message>
			</div>

			<div class="mb-6">
				<div class="flex flex-row justify-between">
					<label for="password" class="block font-medium text-gray-700 mb-2">Пароль</label>
					<a routerLink="/auth/remember" class="font-medium text-indigo-500 hover:text-indigo-900">Забыли пароль?</a>
				</div>
				<div class="h-10 w-full inline-flex relative">
					<input [type]="hide ? 'password' : 'text'" formControlName="password" #password id="password">
					<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="password.value">
						<button
							class="text-gray-400"
							type="button"
							mat-icon-button
							(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
						>
							<mat-icon [svgIcon]="hide ? 'eye-off' : 'eye'"></mat-icon>
						</button>
					</div>
				</div>
				<app-hint-error-message [field]="form.get('password')"></app-hint-error-message>
			</div>

			<div class="mb-6">
				<mat-checkbox color="primary">
					<div class="whitespace-normal leading-tight text-sm">
						Оставаться авторизованным в течении недели
					</div>
				</mat-checkbox>
			</div>
		</ng-container>

		<ng-container *ngSwitchCase="STEPS.code">
			<div class="mt-8">
				<p>Введите свой 6-значный код аутентификации в приложении <a class="link" href="https://support.google.com/accounts/bin/answer.py?hl=en&answer=1066447">Google Authenticator</a>.</p>
				<div class="bg-box mt-6 mb-2">
					<div class="pt-10 pb-2">
						<div class="flex justify-center mb-2">
							<div class="text-4xl w-72">
								<app-code-input
									*ngFor="let r of resetCodeInputComponent"
									[inputType]="'tel'"
									[divider]="3"
									[codeLength]="6"
									[initialFocusField]="0"
									[disabled]="loading"
									(codeCompleted)="onCodeCompleted($event)"
									(codeChanged)="onCodeChanged()">
								</app-code-input>
							</div>
						</div>
						<div class="text-center h-10">
							<app-hint-error-message [field]="form.get('code')"></app-hint-error-message>
						</div>
					</div>
				</div>
				<div class="mb-4">
					<a href="javascript:void(0)" class="link" (click)="toggleStep(STEPS.recovery_code)">Использовать резервный код</a>
				</div>
			</div>
		</ng-container>

		<ng-container *ngSwitchCase="STEPS.recovery_code">
			<div class="my-6">
				<p class="mb-6">Введите ваш резервный код доступа, что был создан при активации двухэтапной аутентификации в профиле аккаунта.</p>
				<label for="recovery_code" class="block font-medium text-gray-700 mb-2">Резервный код</label>
				<div class="h-10 w-full inline-flex relative">
					<input type="text" formControlName="recovery_code" id="recovery_code">
				</div>
				<app-hint-error-message [field]="form.get('recovery_code')"></app-hint-error-message>
			</div>
		</ng-container>

		<div class="h-10 w-full inline-flex relative">
			<button mat-raised-button color="primary" type="submit" class="w-full"
					[disabled]="!form.valid || loading"
					[loading]="loading"
			>
				Далее
			</button>
		</div>

		<ng-container *ngSwitchCase="STEPS.recovery_code">
			<div class="text-sm mt-6">
				<a (click)="toggleStep(STEPS.code)" class="link">Назад</a>
			</div>
		</ng-container>
		<ng-container *ngSwitchCase="STEPS.code">
			<div class="text-sm mt-6">
				<a (click)="toggleStep(STEPS.email)" class="link">Назад</a>
			</div>
		</ng-container>
	</form>

	<div class="w-full sm:max-w-md text-gray-600 transform sm:-translate-x-5 translate-y-24 pb-6">
		Еще нет аккаунта? <a routerLink="/auth/register" class="link">Создайте</a>
	</div>
</div>
