$base-color: rgba(221, 221, 221, 0.644);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;
$gradient-offset: 52 + 16;

@mixin background-gradient {
	background-image: linear-gradient(90deg, $base-color 0px, $ghost-color 40px, $base-color 80px);
	background-size: 80vw;
}

@keyframes ghost-lines {
	0% {
		background-position: -100px;
	}
	40% {
		background-position: 40vw;
	}
	100% {
		background-position: 60vw;
	}
}

@keyframes ghost-avatar {
	0% {
		background-position: -100px + $gradient-offset;
	}
	40%,
	100% {
		background-position: 140px + $gradient-offset;
	}
}

@mixin animate-ghost-avatar {
	@include background-gradient;
	animation: ghost-avatar $animation-duration infinite linear;
}

@mixin animate-ghost-line {
	@include background-gradient;
	animation: ghost-lines $animation-duration infinite linear;
}

.ghost {
	.ghost-line {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 30%;
		background-color: rgb(235, 235, 235);
		border-radius: 4px 4px 4px 4px;
		@include animate-ghost-line;
	}
	.ghost-w-1\/2	{width: 50%;}
	.ghost-w-1\/3	{width: 33.333333%;}
	.ghost-w-2\/3	{width: 66.666667%;}
	.ghost-w-1\/4	{width: 25%;}
	.ghost-w-2\/4	{width: 50%;}
	.ghost-w-3\/4	{width: 75%;}
	.ghost-w-1\/5	{width: 20%;}
	.ghost-w-2\/5	{width: 40%;}
	.ghost-w-3\/5	{width: 60%;}
	.ghost-w-4\/5	{width: 80%;}
	.ghost-w-1\/6	{width: 16.666667%;}
	.ghost-w-2\/6	{width: 33.333333%;}
	.ghost-w-3\/6	{width: 50%;}
	.ghost-w-4\/6	{width: 66.666667%;}
	.ghost-w-5\/6	{width: 83.333333%;}
	.ghost-w-1\/12	{width: 8.333333%;}
	.ghost-w-2\/12	{width: 16.666667%;}
	.ghost-w-3\/12	{width: 25%;}
	.ghost-w-4\/12	{width: 33.333333%;}
	.ghost-w-5\/12	{width: 41.666667%;}
	.ghost-w-6\/12	{width: 50%;}
	.ghost-w-7\/12 	{width: 58.333333%;}
	.ghost-w-8\/12 	{width: 66.666667%;}
	.ghost-w-9\/12  {width: 75%;}
	.ghost-w-10\/12 {width: 83.333333%;}
	.ghost-w-11\/12 {width: 91.666667%;}
}
