<div class="p-4">
	<div>Пожалуйста подтвердите ваш пароль для продолжения</div>
	<div mat-dialog-content>
		<form [formGroup]="form" novalidate (ngSubmit)="next()" class="pt-8 flex flex-col items-center">

			<label class="text-sm font-medium text-black w-full mb-2" for="password">Пароль</label>
			<div class="h-10 w-full inline-flex relative">
				<input
					type="password"
					formControlName="password"
					#password id="password"
					[type]="hide ? 'password' : 'text'"
					class="border-red-500"
					[class.border]="form.get('password')?.invalid &&  (form.get('password')?.dirty || form.get('password')?.touched)"
				>
				<div class="absolute w-10 h-10 top-0 right-0 z-10 transition-opacity opacity-0" [class.opacity-100]="password.value">
					<button
						class="text-gray-400"
						type="button"
						mat-icon-button
						(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
					>
						<mat-icon [svgIcon]="hide ? 'eye-off' : 'eye'"></mat-icon>
					</button>
				</div>
			</div>
			<app-hint-error-message [field]="form.get('password')" class="w-full text-left"></app-hint-error-message>

			<div class="h-11 inline-flex mt-8 w-full">
				<button
					mat-raised-button
					class="w-full"
					color="primary"
					(click)="next()"
					[disabled]="!form.valid"
					[loading]="loading"
				>
					Далее
				</button>
			</div>

			<a href="javascript:void(0);" class="font-medium text-sm text-indigo-500 hover:text-indigo-900 mt-6"
			   (click)="dialogRef.close(false)">Отмена</a>
		</form>
	</div>
</div>
