<ng-container *ngIf="user$ | async as user">
	<div
		class="flex flex-col sm:flex-row justify-between items-center px-5 py-3 text-sm bg-red-50 mb-2"
		*ngIf="!user.has_verified_email && !(notifyBlock$ | async)"
	>
		<div class="flex">
			<div class="w-6 hidden sm:block">
				<mat-icon class="text-red-500 text-xs mt-1" svgIcon="alert-triangle"></mat-icon>
			</div>
			<div>
				<div class="font-medium">Подтвердите ваш адрес электронной почты</div>
				<div>Нажмите на ссылку подтверждения в письме, что мы отправили на ваш адрес {{user.email}}</div>
			</div>
		</div>
		<div class="mt-4 sm:mt-0 inline w-full sm:w-auto">
			<button
				class="btn-sm w-full"
				mat-stroked-button
				(click)="resendEmailVerify()"
				[loading]="(resendEmailVerifyLoading$ | async) || false"
			>
				Отправить повторно
			</button>
		</div>
	</div>
</ng-container>

