<div mat-dialog-title>
	{{(status$ | async)?.twa_enabled ? 'Обновите приложение для аутентификации' : 'Используйте приложение-аутентификатор'}}
</div>
<ng-container [ngSwitch]="step">
	<div mat-dialog-content [class.bg-box]="step == 2">
		<form
			class="pb-6 text-sm"
			novalidate
			[formGroup]="form"
			*ngIf="setData$ | async as data; else loadingTpl"
		>
			<ng-container *ngSwitchCase="1">
				<p>Загрузите бесплатное приложение
					<ng-container [ngTemplateOutlet]="googleLink"></ng-container>, добавьте новую
					учетную запись, затем отсканируйте этот штрих-код, чтобы настроить свою учетную запись.</p>

				<ng-container [ngSwitch]="manual">
					<div class="text-center" *ngSwitchCase="false">
						<div class="flex justify-center py-6" [innerHTML]="data.svg | safeHtml"></div>
						<a href="javascript:void(0)" class="font-medium text-indigo-500 hover:text-indigo-900" (click)="manual = !manual">
							Ввести код вручную
						</a>
					</div>
					<div class="text-center flex flex-col justify-center" *ngSwitchCase="true">
						<div class="my-3">
							<div class="py-2 px-3 inline-block border rounded my-3 text-2xl ml-auto">{{form.get('secret')?.value}}</div>
						</div>
						<a href="javascript:void(0)" class="font-medium text-indigo-500 hover:text-indigo-900" (click)="manual = !manual">
							Вместо этого отсканируйте штрих-код
						</a>
					</div>
				</ng-container>
			</ng-container>

			<div class="mt-8" *ngSwitchCase="2">
				<p>Введите свой 6-значный код аутентификации в приложении <ng-container [ngTemplateOutlet]="googleLink"></ng-container>.</p>

				<div class="flex justify-center mt-8 mb-4">
					<div class="text-4xl w-72">
						<app-code-input
							*ngFor="let r of reset"
							[inputType]="'tel'"
							[divider]="3"
							[codeLength]="6"
							[initialFocusField]="0"
							[disabled]="loading"
							(codeCompleted)="onCodeCompleted($event)"
							(codeChanged)="onCodeChanged($event)">
						</app-code-input>
					</div>
				</div>

				<div class="text-center h-6">
					<app-hint-error-message [field]="form.get('code')"></app-hint-error-message>
				</div>
			</div>
		</form>
	</div>
</ng-container>

<div mat-dialog-actions>
	<div class="flex ml-auto">
		<button mat-button (click)="back()">{{step > 1 ? 'Назад' : 'Отмена'}}</button>
		<button
			mat-raised-button
			color="primary"
			(click)="next()"
			[loading]="loading"
		>
			Далее
		</button>
	</div>
</div>

<ng-template #loadingTpl>
	<div class="w-full flex items-center justify-center py-12">
		<app-spinner></app-spinner>
	</div>
</ng-template>

<ng-template #googleLink>
	<a href="https://support.google.com/accounts/bin/answer.py?hl=en&answer=1066447">Google Authenticator</a>
</ng-template>
