<div class="divider flex pb-4 justify-between items-center">
	<div>
		<div class="text-lg sm:text-2xl font-bold leading-5 mb-1">Настройки электронной почты</div>
		<p class="text-sm">Выберите, какие сообщения вы хотите получать в вашем аккаунте</p>
	</div>
</div>

<form novalidate [formGroup]="form" *ngIf="preferences$ | async; else loadingTpl">
	<div
		class="divider hover:bg-coop-50 cursor-pointer"
		*ngFor="let item of preferences"
		(click)="selection(item.key)"
	>
		<div class="flex px-0 sm:px-2 py-3">
			<div class="w-6 sm:w-8">
				<mat-checkbox color="primary" (click)="$event.stopPropagation()" [formControlName]="item.key"></mat-checkbox>
			</div>
			<div class="flex-1">
				<div class="font-medium">{{item.title}}</div>
				<div class="text-sm">{{item.desc}}</div>
			</div>
		</div>
	</div>

	<div class="flex py-4 justify-end">
		<button mat-stroked-button class="btn-sm mr-2" (click)="undo()">
			Отмена
		</button>
		&nbsp;
		<button mat-raised-button class="btn-sm" color="primary" (click)="save()" [loading]="(loading$ | async) || false" [disabled]="!(isDataChanged$ | async) || !form.valid">
			Сохранить
		</button>
	</div>
</form>

<ng-template #loadingTpl>
	<div class="w-full flex items-center justify-center py-12">
		<app-spinner></app-spinner>
	</div>
</ng-template>
