<div class="divider flex flex-col sm:flex-row pb-4 justify-between items-center">
	<div class="w-full">
		<div class="text-lg sm:text-2xl font-bold leading-5 mb-1">Сессии входа в систему</div>
		<p class="text-sm">Места, в которых вы вошли в {{companyName}}</p>
	</div>
	<div class="inline mt-4 sm:mt-0 w-full sm:w-auto">
		<button mat-stroked-button class="btn-sm w-full" (click)="closeOtherSessions()" [loading]="(loadingSessionDestroy$ | async) || false">
			Завершить все остальные сеансы
		</button>
	</div>
</div>


<div class="w-full overflow-x-auto">
	<table mat-table [dataSource]="dataRows" class="w-full table">
		<ng-container matColumnDef="country">
			<th mat-header-cell *matHeaderCellDef>
				<div class="pl-0 px-2 py-3">Расположение</div>
			</th>
			<td mat-cell *matCellDef="let item" class="w-auto max-w-lg">
				<div class="truncate box-border pl-0 p-2">
					<span class="whitespace-inherit">{{item.location?.country_name || '-'}}</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="device">
			<th mat-header-cell *matHeaderCellDef>
				<div class="px-2 py-3">Устройство</div>
			</th>
			<td mat-cell *matCellDef="let item">
				<div class="p-2">
					<span class="whitespace-inherit">{{item.device?.browser_name}} - {{item.device?.platform_name}}</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="ip">
			<th mat-header-cell *matHeaderCellDef>
				<div class="px-2 py-3">IP</div>
			</th>
			<td mat-cell *matCellDef="let item">
				<div class="p-2 box-border">
					<span class="whitespace-inherit">
						<div class="flex items-center">
							<span *ngIf="item.location?.country_code" class="w-5 mr-2">
								<img src="/assets/images/country-flags/{{item.location?.country_code | lowercase}}.svg">
							</span>
							<span>{{item.ip}}</span>
						</div>
					</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="time">
			<th mat-header-cell *matHeaderCellDef>
				<div class="px-2 py-3">Время</div>
			</th>
			<td mat-cell *matCellDef="let item">
				<div class="p-2 box-border">
					<span class="whitespace-inherit">
						<span>{{item.last_used_at || '-'}}</span>
					</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="current">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let item">
				<div class="p-2 box-border" *ngIf="item.current">
					<span class="whitespace-inherit">
						<span>Текущая сессия</span>
					</span>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>


<div class="w-full flex items-center justify-center py-12" *ngIf="loading$ | async">
	<app-spinner></app-spinner>
</div>

