<div mat-dialog-title>Новые резервные коды</div>
<div mat-dialog-content class="bg-box">
	<div class="my-6">
		<div class="flex flex-col items-center justify-center">
			<div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
			</div>
		</div>
		<div class="text-lg text-center">Вот ваш новый код</div>
		<p class="my-6">Сохраните новый аварийный резервный код и храните его в надежном месте. Если вы потеряете мобильное устройство, вы можете использовать этот код для обхода двухэтапной аутентификации.</p>
		<div class="flex justify-center" *ngIf="codes$ | async as codes; else loadingTpl">
			<ng-container *ngFor="let code of codes">
				<div class="py-2 px-3 w-full border rounded text-lg">{{code}}</div>
				<button type="button" mat-icon-button (click)="download(code)" matTooltipPosition="above" matTooltip="Скачать">
					<mat-icon svgIcon="download"></mat-icon>
				</button>
				<button type="button" mat-icon-button [cdkCopyToClipboard]="code" matTooltipPosition="above" matTooltip="Копировать в буфер обмена">
					<mat-icon svgIcon="copy"></mat-icon>
				</button>
			</ng-container>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<div class="flex ml-auto">
		<button mat-raised-button color="primary" (click)="dialogRef.close(true)">
			Готово
		</button>
	</div>
</div>

<ng-template #loadingTpl>
	<div class="w-full flex items-center justify-center py-12">
		<app-spinner></app-spinner>
	</div>
</ng-template>
