<div
	class="text-xs text-gray-500 transition-opacity opacity-0 duration-500 ease-in-out"
	[class.opacity-100]="password?.length"
	[class.h-32]="password?.length"
>
	<div class="strength-meter">
		<div
			class="strength-meter-fill"
			[style.background]="getMeterFillColor(passwordStrength)"
			[attr.data-strength]="passwordStrength"
		></div>
	</div>

	<div *ngIf="enableFeedback && feedback">
		<div  class="mb-2" *ngIf="feedback.warning">
			{{feedback.warning}}
		</div>
		<div  class="mb-2" *ngIf="feedback.suggestions && feedback.suggestions.length > 0">
			<ng-container *ngFor="let suggetion of feedback.suggestions">{{suggetion}}</ng-container>
		</div>
	</div>

	<div class="flex flex-col">
		<ng-container *ngIf="password && (password?.length || 0) < minPasswordLength; else reportTpl">
			Ваш пароль должен состоять не менее чем из {{minPasswordLength}} символов. Включите несколько слов и фраз чтобы сделать его более безопасным
		</ng-container>
		<ng-template #reportTpl>
			<div class="flex items-start" [ngSwitch]="passwordStrength">
				<ng-container *ngSwitchCase="1">
					<div class="mr-2 mt-1">
						<mat-icon class="text-red-500 text-xs" svgIcon="alert-triangle"></mat-icon>
					</div>
					<span class="text-red-500">Ваш пароль недостаточно надежен. Чтобы обезопасить свою учетную запись, избегайте употребления общих слов, имен, дат и повторяющихся символов.</span>
				</ng-container>
				<ng-container *ngSwitchCase="3">
					<div class="mr-2 mt-1">
						<mat-icon class="text-yellow-600 text-xs" svgIcon="alert-circle"></mat-icon>
					</div>
					Ваш пароль работает, но может быть более надежным.  Попробуйте сделать его длиннее.
				</ng-container>
				<ng-container *ngSwitchCase="4">
					<div class="mr-2 mt-1">
						<mat-icon class="text-green-700 text-xs" svgIcon="check-circle"></mat-icon>
					</div>
					Хорошая работа. Это отличный пароль.
				</ng-container>
			</div>
		</ng-template>
	</div>

</div>
