<div class="max-w-screen-lg mx-auto p-4 sm:px-0 sm:py-12">

	<div class="flex space-x-3">
		<img src="https://angular.io/assets/images/logos/angular/angular.svg" class="w-12">
		<div class="text-4xl font-extrabold pr-1">+</div>
		<img src="https://laravel.com/img/logomark.min.svg" class="w-9">
	</div>

	<div class="mb-6 sm:mb-12">
		<h1 class="text-4xl font-bold text-gray-900">Welcome to startup project template!</h1>
		<h2 class="text-2xl font-bold text-gray-900">
			Angular & Laravel Boilerplate (Angular + Angular Material + Tailwind CSS + Laravel)
		</h2>
		<p class="text-lg mt-4">
			Angular & Laravel boilerplate for WEB projects. Bare-bones project
			template with Angular & Laravel. We’ve already laid the foundation — freeing you to create without sweating the small things.
		</p>
	</div>


	<div class="sm:grid sm:grid-cols-2 sm:gap-6 space-y-6 sm:space-y-0">
		<div class="rounded-lg bg-gray-50 p-4 text-gray-500">
			<div class="pb-6 border-b border-gray-200 mb-6">
				<div>
					<h1 class="inline-block text-2xl font-bold text-gray-900 tracking-tight">Get started</h1>
				</div>
				<p class="mt-1 leading-6">
					Is a minimal, simple implementation of all of authentication features, including login, registration, password reset, email verification, and password confirmation
				</p>
			</div>

			<div>Log in as a demo user using this username and password:</div>
			<div class="flex mt-2 mb-4 text-gray-900">
				<div class="pr-1 mr-1 border-r">admin@example.com</div>
				<div>password</div>
			</div>
			<button mat-raised-button color="primary" routerLink="/account">Sign in</button>
		</div>
	</div>


</div>
